<h1 class="page-header">My Bookings</h1>
<% @bookings.each do |book| %>
    <div class="well">
      <div class="row">
        <div class="col-lg-8">
          <h4>Description:</h4> <%= book.description %><br>
          <h4>Sitter Username:</h4> <%= User.find(book.provider_id).username %>
        </div>
        <div class="col-lg-4">
          <p style="text-align: right"><%= distance_of_time_in_words_to_now(book.created_at) %></p>
        </div>
      </div>
    </div>
<% end %>
