<script type="text/javascript">
  setTimeout(function() {
    $('.alert-danger').fadeOut('slow');
  }, 4000);
  setTimeout(function() {
    $('.alert-success').fadeOut('slow');
  }, 4000);
  setTimeout(function() {
    $('.alert-notice').fadeOut('slow');
  }, 4000);
</script>

<% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-<%= name %>" role="alert">
      <%= content_tag :div, msg, class: name %>
    </div>
<% end %>
